In [43]:
#using condiotionals to filter rows and columns
d = {
    'first':['corey','abella','julia'],
    'last' : ['singh','danger','ann'],
    'email' : ['schafer@','dabger@','annie@']
}

In [44]:
import pandas as pd

In [45]:
df = pd.DataFrame(d)

In [46]:
df

    first    last     email
0   corey   singh  schafer@
1  abella  danger   dabger@
2   julia     ann    annie@

In [47]:
df['first'] == 'corey' #searching  for corey in first column

0     True
1    False
2    False
Name: first, dtype: bool

In [48]:
filt = (df['first'] == 'julia')

In [49]:
filt

0    False
1    False
2     True
Name: first, dtype: bool

In [50]:
df[filt]

   first last   email
2  julia  ann  annie@

In [51]:
df.loc[filt]  #advantage of using loc is you can grab specific column for required or searched  item

   first last   email
2  julia  ann  annie@

In [52]:
df.loc[filt,'email']  #grabbing email column for first name julia

2    annie@
Name: email, dtype: object

In [53]:
# &: and
# |: or

In [54]:
filt = (df['first'] == 'julia') | (df['first'] == 'abella')

In [55]:
 df.loc[filt,'email']

1    dabger@
2     annie@
Name: email, dtype: object

In [56]:
df.loc[-filt,'email'] #this will show complement of filt

0    schafer@
Name: email, dtype: object